<footer id='contact' style="padding-top:16px;margin-top:16px;">
    <div class='container-fuild'>
        <!-- Collabaration with other developers -->
        <div class='col' style='text-align: center;'>
            <p>If you are a developer and want to collabarate on some project or idea.
                <a routerLink="/contact-me" routerLinkActive="active" onclick='jump1()'>Click here to contact</a>
            </p>
        </div>
        <div class="row">
            <div class='col-md-6 col-lg-4'>
                <p class="title small">CONTACT DETAILS</p>
                <!-- links -->
                <a href=' tel:+917259980216 '>
                    <p class='small no-padding'>
                        <i class="fa fa-phone white social-icons"></i> +91-7259980216</p>
                </a>
                <a href="mailto:47sharma.manu@gmail.com">
                    <p class='small no-padding'>
                        <i class="fa fa-envelope white social-icons"></i> 47sharma.manu@gmail.com</p>
                </a>
                <div style='padding-top:16px;padding-bottom:16px;'>
                    <p class='small'>Also reach me at: </p>
                    <a href='https://www.linkedin.com/in/47sharmamanu/' target="_blank">
                        <i class="fa fa-linkedin fa-2x white social-icons"></i>
                    </a>
                    <a href='https://www.facebook.com/47sharmamanu' target="_blank">
                        <i class="fa fa-facebook fa-2x white social-icons"></i>
                    </a>
                    <a href='https://github.com/47sharmamanu' target="_blank">
                        <i class="fa fa-github fa-2x white social-icons"></i>
                    </a>
                </div>
            </div>
            <div class='col-md-6 col-lg-4'>
                <p class="title small">WEBSITE MODULES</p>
                <p>
                    <a routerLink="/projects" routerLinkActive="active">
                        <div class="row small">Home</div>
                    </a>
                </p>
                <!-- links -->
                <p>
                    <a routerLink="/projects" routerLinkActive="active" onclick='jump1()'>
                        <div class="row small">Projects</div>
                    </a>
                </p>
                <p>
                    <a routerLink="/services" routerLinkActive="active" onclick='jump1()'>
                        <div class="row small">Services</div>
                    </a>
                </p>
                <p>
                    <a routerLink="/about-me" routerLinkActive="active" onclick='jump1()'>
                        <div class="row small">About</div>
                    </a>
                </p>
                <p>
                    <a routerLink="/contact-me" routerLinkActive="active" onclick='jump1()'>
                        <div class="row small">Contact</div>
                    </a>
                </p>
                <p>
                    <a href='https://drive.google.com/open?id=0B6SIP0OXvgTRM0M1cC1KR1FTTlE' target="_blank">
                        <div class="row small">Download Resume</div>
                    </a>
                </p>
            </div>
            <div class='col-md-6 col-lg-4'>
                <!-- Creadits -->
                <p class="title small">CREDITS</p>

                <div class='credit-holder small'>
                    <p>
                        <a href='https://angular.io'>Angular Team:</a>
                        <span style="color:#e9e9e9">For creating such a awesome Website framework to make it so easy to develop a web app</span>
                    </p>
                </div>
            </div>
        </div>
        <p class="extra-small" style="text-align:center;">Handmade by me © 2017</p>
    </div>
</footer>