<div id='about-me'>

    <img class='img-responsive' style='height:300px;width:300px;border-radius:10px;margin:auto;display: block;' src='https://firebasestorage.googleapis.com/v0/b/manu-sharma.appspot.com/o/My-images%2FmyImageCamera.jpg?alt=media&token=9d50dc79-e0fb-4d16-be20-9529b7595e29'>
    <div class='container'>
        <br>
        <div class=''>
            <p>After graduating in 2014 with a Bachelor’s Degree in Coumputer Science Engineering, I spent the last 3 years
                working both as a freelance developer and designer and as part of a team in various companies across Bangalore
                and Delhi. I acquired project and time management skills, as well as the ability to communicate with team
                members and clients while effectively meeting milestones and deadlines.
                <br> As a freelance developer and designer I collaborated with several graphic designers in Bangalore. I have
                worked on a multitude of web and app based projects for a range of clients providing Web Design (Photoshop,
                Illustrator, InDesign, Sketch) and Development (JAVA, ANDROID, iOS, IONIC, ANGULAR, HTML, CSS, LESS, JS,
                jQuery, Bootstrap, Responsive Layouts), eCommerce Solutions, Corporate Branding and Graphic Design.
                <br> I Have a keen understanding of wireframes, sitemaps and user experience design which I put to good use on
                every project I work on. I am currently working in Bangalore, India. I am always available to discuss your
                project over the phone or via Skype. These days I enjoy spending my free time riding my bike, swimming or
                camping.
            </p>
        </div>
        <!-- 
        <br>
        <div>
            <h5>SOCIAL CAUSES I SUPPORT</h5>
            <hr>
            <br>
        </div>
        <div class=''>
            <p>Lorem ipsum</p>
        </div>

        <br>
        <div>
            <h5>SOCIAL CAUSES I SUPPORT</h5>
            <hr>
            <br>
        </div>
        <div class=''>
            <p>Lorem ipsum</p>
        </div> -->
    </div>
</div>