<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav();">&times;</a>
  <a href="/" onclick="closeNav();">HOME</a>
  <a routerLink="/projects" routerLinkActive="active" onclick="closeNav();  jump1();">PORTFOLIO</a>
  <a routerLink="/services" routerLinkActive="active" onclick="closeNav();  jump1();">SERVICES</a>
  <a routerLink="/about-me" routerLinkActive="active" onclick="closeNav();  jump1();">ABOUT</a>
  <a routerLink="/contact-me" routerLinkActive="active" onclick="closeNav(); jump1();">CONTACT</a>
</div>
<main id="main">
  <div id="navbar">
    <div class="container-fuild">
      <div class='col'>
        <div class="logo">
          <a href="/" class="nav-neutral-link">
            <div class='row'>
              <div class='icon'><img class='img-responsive' src='favicon.ico'></div>
              <div>
                <h1 class="no-margin large">MANU SHARMA</h1>
                <h2 class="no-padding no-margin small">ANDROID | iOS | WEBSITES</h2>
              </div>
            </div>
          </a>
        </div>
        <div class="small-screen-menu">
          <a class='hamburger nav-neutral-link no-padding' onclick="openNav()"></a>
        </div>
        <div class="big-screen-menu">
          <a class="extra-small" href="/">HOME</a>
          <a class="extra-small" routerLink="/projects" routerLinkActive="active" onclick='jump1()'>PORTFOLIO</a>
          <a class="extra-small" routerLink="/services" routerLinkActive="active" onclick='jump1()'>SERVICES</a>
          <a class="extra-small" routerLink="/about-me" routerLinkActive="active" onclick='jump1()'>ABOUT</a>
          <a class="extra-small" routerLink="/contact-me" routerLinkActive="active" onclick='jump1()'>CONTACT</a>
        </div>
      </div>
    </div>
  </div>

  <cover style="background-color:black;" *ngIf='appService.shouldShowCover'></cover>
  <div id='scroll-target-div'></div>
  <router-outlet></router-outlet>

  <footer-component></footer-component>
</main>