<div id="services" class="container-fuild">
    <div class='col'>
        <h3>MY EXPERTISE</h3>
        <!-- <p class='extra-small'>Here is a sneak peak about my recent projects</p> -->
        <hr>
        <br>
    </div>
    <div>
        <div class="row project">
            <div *ngFor="let service of services; let i=index" class="col-lg-3 col-md-4 col-sm-6">
                <div class='card' style='text-align: left'>
                    <div>
                        <br>
                        <h5 class='left-right-padding' style=''>{{service.title}}</h5>
                        <img style='width:100%;min-height: 200px; background:black;' class='img-responsive' src='{{service.icon}}'>
                        <p class='left-right-padding'>{{service.description}}</p>
                    </div>
                    <a href='/contact-me' class='full-button small' style='background-color: rgba(0,0,0,0.9);'>{{service.actionString}}</a>
                    <!-- <p>CHARGES: {{service.pricing}}</p> -->
                </div>
                <br>
            </div>
        </div>
    </div>
</div>