<!-- This div contain cover image as well as welcome-board-->
<div class="cover">
</div>
<div class="welcome-board container-fuild" style="position:relative;min-height: 70%">
    <div id='home' class="col " style="position:absolute; bottom:2%;">

        <h1 class="white">Developer | Designer</h1>
        <br>
        <p class="white small">I Provide business solution from enterprise level companies to local or small businesses by designing and developing
            mobile applications and websites for them.</p>
        <br>
        <a href="mailto:47sharma.manu@gmail.com?subject=Work details" class="work-together-link btn btn-raised small">Let's work together
            <span> ></span>
            <div class="ripple-container"></div>
        </a>

        <div class="header-contact-parent">
            <div>
                <a href=' tel:+917259980216 '>
                    <i class="fa fa-phone white social-icons"></i>
                </a>
                <a href="mailto:47sharma.manu@gmail.com">
                    <i class="fa fa-envelope white social-icons"></i>
                </a>
                <a href='https://www.linkedin.com/in/47sharmamanu/' target="_blank">
                    <i class="fa fa-linkedin white social-icons"></i>
                </a>
                <a href='https://www.facebook.com/47sharmamanu' target="_blank">
                    <i class="fa fa-facebook white social-icons"></i>
                </a>
                <a href='https://github.com/47sharmamanu' target="_blank">
                    <i class="fa fa-github white social-icons"></i>
                </a>
                <a href='https://drive.google.com/open?id=0B6SIP0OXvgTRM0M1cC1KR1FTTlE '>
                    <i class="fa fa-file white social-icons"></i>
                </a>
            </div>
            <!-- <a class="header-contact" href=' tel:+917259980216 '>
                <div class='phone '></div>
            </a>
            <a class="header-contact" href="mailto:47sharma.manu@gmail.com">
                <div><img class='mail ' src="./assets/img/mail.svg"></div>
            </a>
            <a class="header-contact" href='https://github.com/47sharmamanu ' target="_blank">
                <div><img alt='github' class='github col-md-2 ' src="./assets/img/github.svg"></div>
            </a>
            <a class="header-contact" href='https://www.linkedin.com/in/47sharmamanu/ ' target="_blank">
                <div><img class='linked-in ' src="./assets/img/linked_in.svg"></div>
            </a>
            <a class="header-contact" href='https://drive.google.com/open?id=0B6SIP0OXvgTRM0M1cC1KR1FTTlE ' target="_blank">
                <div><img class='resume ' src="./assets/img/resume.svg"></div>
            </a> -->
        </div>
    </div>
</div>